*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.MyDiv{
    display: flex;
    flex-direction: column;
}
.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    gap: 30px;
    height: 70px;
    width: 100vw;
    align-items: center;
    border-bottom: 1px solid gray;
}